<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Server" value="CLD-PRDSQL020" />
    <add key="Database" value="C10000_T1_ADD" />
    <add key="User" value="10000T1SQL" />
    <add key="Password" value="a$7F81kG" />
    <add key="IproUrl" value="https://10000.iprotech.com" />
  </appSettings>
</configuration>