<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Server" value="tst-supsql001\sup16" />
    <add key="Database" value="mja_add_34" />
    <add key="User" value="mavakiansql" />
    <add key="Password" value="2y6+kpge3Eyu8bvuG6zdcg==" />
    <add key="IproUrl" value="https://tst-suptrk034:1125" />
  </appSettings>
</configuration>